<div class='header'>
  <h1>ヘッダー</h1>
    <%# <img class="header-image" src="images/uyuni_enko.png"> %>
  <%=link_to "MONEYBO", root_path(current_user)%>
  <% if user_signed_in? %>
    <div class="nav__right">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
  </div>
  <% else %>
    <div class="nav__right">
      <%= link_to "ログイン", user_session_path, class: "login" %>
      <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
  </div>
  <% end %>
  <a><img src="assets/money_kakeibo_ase.png" class="header-img" ></a>
</div>