// Place all the styles related to the gives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{
  background-color: aqua;
}

.header{
  background-color: pink;
}

.header-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.footer{
  background-color: limegreen;
}

.top-page{
  background-color: mediumturquoise;
  
}

.top-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.money-input{
  margin: 50px, 50px, 50px, 10px;
}

.money-total{
  padding: 50px;
}

.top-img{
  width: 350px;
  height: 350px;
  object-fit: contain;
}

